.left-right-padding {
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
}

.right-padding {
    padding-right: 20px;
    word-wrap: break-word;
}

input::placeholder {
    color: #5a6074;
    font-size: 12px;
    opacity: 30%;
}

.break-word {
    word-wrap: break-word;
}

.vertical-center-align {
    vertical-align: middle;
}

.table-outer {
    display: table;
    height: 100px;
}

.table-inner {
    display: table-cell;
    vertical-align: middle;
}
