.detected-outer-header {
    grid-area: detected-outer-header;
    background-color: #171d39;
}
.detected-outer-recipient {
    grid-area: detected-outer-recipient;
    background-color: #1b213d;
}
.detected-outer-sendfunds {
    grid-area: detected-outer-sendfunds;
    background-color: #1b213d;
}
.detected-outer-recipient-content {
    grid-area: detected-outer-recipient-content;
    background-color: #1b213d;
}
.detected-inner-amount {
    grid-area: detected-inner-amount;
}
.detected-inner-address {
    grid-area: detected-inner-address;
}
.detected-inner-checked {
    grid-area: detected-inner-checked;
}
.detected-inner-sendperls {
    grid-area: detected-inner-sendperls;
}
.detected-outer-sendfunds-content {
    display: grid;
    grid-area: detected-outer-sendfunds-content;
    grid-template-areas:
        "detected-inner-amount"
        "detected-inner-address"
        "detected-inner-checked"
        "detected-inner-sendperls";
    grid-gap: 30px;
    grid-column-gap: 10px;
}
.detected-grid {
    display: grid;
    border-radius: 5px;
    width: 100%;
    grid-template-areas:
        "detected-outer-header detected-outer-header"
        "detected-outer-recipient detected-outer-sendfunds"
        "detected-outer-recipient-content detected-outer-sendfunds-content";
    grid-gap: 30px;
    padding: 10px;
    grid-column-gap: 10px;
}

input::placeholder {
    color: #5a6074;
    font-size: 12px;
    opacity: 30%;
}
