.notification-container-bottom-left {
    left: 120px;
    bottom: 30px;
}
.notification-item-root {
    width: 100%;
    max-width: 500px;
}
.notification-content {
    display: flex;
    padding: 10px 40px 10px 8px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0,0,0,0.2);
    

    p {
        margin: 0;
    }
    
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(110%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(110%);
    }
}

.fadeOut {
    animation-name: fadeOut;
}
.animated {
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.notification-item {
    border: none;
    align-items: center;
    width: 450px;

    .notification-message {
        color: #fff;
        font-size: 12px;

        &::first-letter {
            text-transform: uppercase;
        }
        a {
            color: inherit;
            margin-left: 5px;
            text-decoration: underline;
        }
    }
    .notification-close {
        color: #fff;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 18px;

        img {
            width: 12px;
        }
    }
    .notification-title {
        font-weight: 600;
        font-size: 14px;
        margin-top: 0;
    }
}

.notification-body {
    flex: 1;
}
.notification-success,
.notification-danger,
.notification-default,
.notification-warning {
    border: none;

    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        flex-shrink: 0;
        border-radius: 20px;
        background-position: center center;
        
        background-repeat: no-repeat;
    }
}
.notification-success {
    background: #2ba746;
    &::before {
        background-size: 120% auto;
        background-image: url("../../../assets/svg/tick.svg");
    }
}

.notification-warning {
    background: #eab020;
    &::before {
        background-size: 65% auto;
        background-image: url("../../../assets/svg/warning.svg");
    }
}
.notification-danger {
    background: #dc3646;
    &::before {
        background-size: 65% auto;
        background-image: url("../../../assets/svg/warning.svg");
    }
}
.notification-default {
    background: #027cfc;
    &::before {
        background-size: auto 65%;
        background-image: url("../../../assets/svg/information.svg");
    }
}