.alert-row1 {
    grid-area: alert-row1;
}
.alert-row2 {
    grid-area: alert-row2;
}
.alert-row3 {
    grid-area: alert-row3;
}

.alert-grid {
    display: grid;
    width: 100%;
    grid-template-areas:
        "alert-row1"
        "alert-row2"
        "alert-row3";
    grid-gap: 30px;
    padding: 10px;
    grid-column-gap: 10px;
}

.alert-style {
    text-align: center;
    width: 500px;
    padding: 40px;
    background: #0e1a49;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.9);
    color: #fff;
}

.alert-style > h1 {
    font-family: HKGrotesk;
    margin-top: 0;
}

.input-row1 {
    grid-area: input-row1;
    
}

.input-row2 {
    grid-area: input-row2;
    margin-top: 20px;
}

.input-grid {
    width: 100%;
    grid-template-areas:
        "input-row1"
        "input-row2";
    grid-gap: 30px;
    padding-top: 10px;
    grid-column-gap: 10px;
    
}

input:disabled {
    cursor: not-allowed;
}

.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.9);
}
