@import "~@blueprintjs/core/src/blueprint.scss";
@import "~react-table/react-table.css";

html {
  background-color: $pt-dark-app-background-color;
}

.tag-list {
  justify-self: right;
  width: auto;
}

.tag-list > *:not(:first-child) {
  margin-left: 0.75em;
}

.justify-between {
  justify-content: space-between;
}

.ReactTable .-pagination .-btn {
  color: $pt-dark-text-color;
}

.ReactTable .rt-expander:after {
  border-top: 7px solid $pt-dark-text-color;
}

.text-center {
  text-align: center;
}