@import "~@blueprintjs/core/src/blueprint.scss";
@import "~react-dropdown/style.css";

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/montserrat/montserrat-regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/montserrat/montserrat-medium.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/montserrat/montserrat-semibold.otf");
    font-weight: 600;
}
@font-face {
    font-family: "HKGrotesk";
    src: url("./assets/fonts/hkgrotesk/hkgrotesk-regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "HKGrotesk";
    src: url("./assets/fonts/hkgrotesk/hkgrotesk-medium.otf");
    font-weight: 500;
}
@font-face {
    font-family: "HKGrotesk";
    src: url("./assets/fonts/hkgrotesk/hkgrotesk-semibold.otf");
    font-weight: 600;
}

html,
body {
    font-family: HKGrotesk, Monteserrat, -apple-system, BlinkMacSystemFont,
        “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”,
        “Droid Sans”, “Helvetica Neue”, sans-serif;
}

body {
    background: #0c112b url(./assets/svg/main-background.svg) repeat-x;
    background-size: 100% auto;
}

.tag-list {
    justify-self: right;
    width: auto;
}

.tag-list > *:not(:first-child) {
    margin-left: 0.75em;
}

.justify-between {
    justify-content: space-between;
}

canvas,
svg {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.4);
    background: #151b35;
    color: #f5f8fa;
}

.bp3-input:disabled {
    box-shadow: none;
    background: #fff;
    color: rgba(7, 9, 34, 0.6);
}

.bp3-icon {
    background: transparent !important;
    box-shadow: inherit !important;
    color: white !important;
}

.bp3-dark .bp3-code-block {
    background-color: #13162e;
}

.link {
    stroke: #777;
    stroke-opacity: 0.3;
    stroke-width: 1.5px;
}

.node circle {
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
}

.node text {
    display: none;
    font: 10px monospace;
    fill: white;
}

.node:hover circle {
    fill: #000;
}

.node:hover text {
    display: inline;
}

.cardStyle {
    background-color: #1f2137 !important;
    border-radius: 1em;
}
.nowrap {
    white-space: nowrap;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
}
.statuses {
    display: flex;
    flex-direction: row;
    width: calc(100%);
}

.statuses > *:not(:last-child) {
    margin-right: 1em;
}

.status-border {
    flex: 1;
    display: flex;
    border-radius: 1em;
    background: linear-gradient(
        135deg,
        rgb(255, 165, 165) 0%,
        rgb(255, 149, 149) 10%,
        rgb(160, 120, 255) 45%,
        rgb(116, 255, 228) 100%
    );
    padding: 8px 3px 3px 4px;
}

.status-container {
    flex: 1;
    display: flex;
    border-radius: calc(1em - 5px);
    background: #060b24;
    margin-left: -0.175em;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}

.status-container > div {
    background-color: #060b24 !important;
}

.CodeMirror {
    height: 600px !important;
}

.displayComp {
    display: block;
}

.hideComp {
    display: none;
}
.QR-grid-row1 {
    color: #ffffff;
    word-wrap: break-word;
    width: 200px;
    text-align: right;
    float: right;
    grid-area: QR-grid-row1;
}
.QR-grid-row2 {
    width: 70px;
    height: 70px;
    float: right;
    grid-area: QR-grid-row2;
}

.QR-grid {
    display: grid;
    width: 100%;
    grid-template-areas: "QR-grid-row1 QR-grid-row2";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

input, textarea, button {
    &:focus, &:active, &:hover {
        outline: none;
    }
}